/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   my-comp .my-comp-value-text {
   color: var(--my-comp-value-text-color);
   display: inline-block;
	 }
*/

my-comp:not(.oj-complete){
  visibility: hidden;
}

my-comp{
	min-height: 50px;
	width: 50px;
}